<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <!-- App name -->
    <springProperty scope="context"
                    name="appName"
                    source="spring.application.name"/>

    <!-- Console pattern -->
    <property name="CONSOLE_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %X{requestId} %logger{36} - %msg %n"/>


    <!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Default log level -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- App-specific logging -->
    <logger name="com.personal.ai-llm" level="DEBUG"/>

    <!-- Reduce noise -->
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.hibernate" level="WARN"/>
</configuration>
